@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:'Questrial', serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}

nav {
	padding-top: 45px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	word-spacing: 30px;
}

header {
	background-color: #C9C6A4;
	font-family:'Old Standard TT', serif;
	line-height: 1.3;
	padding-top: 45px;
	padding-bottom: 15px;
}

a {
	color: rgba(0,0,0,.5);
	text-decoration: none;
	font-weight: 25pt;
}

h2 {
	font-family:'Vast Shadow', cursive;
}
#icon {
	float: left;
    padding: 20px;
    padding-bottom: 10px;
}
#logo {
	font-family:'Vast Shadow', cursive;
}

#mySlogan {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 25pt;
}

.clearfix2:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#MyBusinessAddress{
	font-family: 'Playfair Display', serif;
	/* text-align: right; */
}
<<<<<<< HEAD
#three_column {
	background-color: #C9C6A4;
    padding: 30px;
}
#left {
    background-color: #C9C6A4;
    padding: 20px;
    float: left;
    width: 30%;
    padding-left: 100px;
    text-align: center;
}
#center {
    background-color: #C9C6A4;
    padding: 20px;
    width: 30%;
    padding-left: 65px;
    float: left;
    text-align: center;
=======
#left {
    background-color: violet;
>>>>>>> 1f70f5b3c2b0150e9f8c510bed8af77d5fefb350
}
#right {
<<<<<<< HEAD
    background-color: #C9C6A4;
    padding: 20px;
    float: right;
    width: 30%;
    padding-right:100px;
    text-align: center;
=======
    background-color: pink;
>>>>>>> 1f70f5b3c2b0150e9f8c510bed8af77d5fefb350
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#archives {
	padding-top: 40px;
}
#readon {
	padding-top: 25px;
}
#booknow {
	padding-top: 20px;
}

#classicpairingintro {
	text-align: center;
	color: #C9C6A4;
	background-color: #691E00;
}

ul li{
	background-color: #C9C6A4;
	text-align: center;
    float: left;
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 ul {
	font-family: 'Playfair Display', serif;
	list-style:none;
}
li {
	width:20%;
}
li img {
	width:100%;
}
#list {
	clear: top;
}
footer {
	clear: left;
	background-color: #cccccc;
	padding: 10px;
	text-align: center;
}
#intro {
	background:url(../images/GOT_party_July2017.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color: rgba(255, 255, 255, 0.85);
	font-family: 'Playfair Display', serif;
	font-size:1.5em;
	padding: 10em 0 0 3em;
	height: 90vh;
}
<<<<<<< HEAD
@media only screen and (max-width: 800px) {
	ul {
		float: none;
  	}
  	ul {
  	 margin: 0 1.6em .75em 0;
  	}
  	img {
    width: 320px;
  	}
}
@media only screen and (max-width: 480px) {
	h1, nav {
    display: block;
    text-align:center;
  }
  h2 {
    font-size: 1em;
    display: inline;
  }
  p, ul {
    margin: 1.8em .6em 0;
  }
    li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
  }
    img {
    width: 230px;
  }
    section, div {
    width: 100%;
    padding: .6em;
  }
}
=======
>>>>>>> 1f70f5b3c2b0150e9f8c510bed8af77d5fefb350
