@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:'Questrial', serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}

nav {
	font-family: 'Oswald', sans-serif;
}

header {
	font-family:'Old Standard TT', serif;
	line-height: 1.3;
}

a {
	color: rgba(0,0,0,.5);
	text-decoration: none;
	font-weight: 25pt;
}

h2 {
	font-family:'Vast Shadow', cursive;
}

#logo {font-family:'Vast Shadow', cursive;

}

#mySlogan {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 25pt;
}

#MyBusinessAddress{
	font-family: 'Playfair Display', serif;
	/* text-align: right; */
}

#BookACellar {
	list-style: none;
}
#StraightFromTheBlog {
	list-style: none;
}
#JustForYou {
	list-style: none;
}
#three_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 30px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
ul {
	font-family: 'Playfair Display', serif;
	list-style:none;
}
li {
	width:20%;
}
li img {
	width:100%;
}
footer {
	background-color: #cccccc;
	padding: 20px;
	text-align: center;
}
#intro {
	background:url(../images/GOT_party_July2017.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color: rgba(255, 255, 255, 0.85);
	font-family: 'Playfair Display', serif;
	font-size:1.5em;
	padding: 10em 0 0 3em;
	height: 90vh;
}