@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background-color: #C9C6A4;
	font-family:'Questrial', serif;
	font-size: 16px;
	color: #222222;
	line-height: 1.3;
}

nav {
	padding-top: 45px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	word-spacing: 30px;
}

header {
	background-color: #C9C6A4;
	font-family:'Old Standard TT', serif;
	line-height: 1.3;
	padding-top: 45px;
	padding-bottom: 15px;
}

a {
	color: rgba(0,0,0,.5);
	text-decoration: none;
	font-weight: 25pt;
}

h2 {
	font-family:'Vast Shadow', cursive;
}
#icon {
	float: left;
    padding: 20px;
    padding-bottom: 10px;
}
#logo {
	font-family:'Vast Shadow', cursive;
}

#mySlogan {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 25pt;
}

.clearfix2:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#MyBusinessAddress{
	font-family: 'Playfair Display', serif;
	/* text-align: right; */
}
#three_column {
	background-color: #C9C6A4;
    padding: 30px;
}
#left {
    background-color: #C9C6A4;
    padding: 20px;
    float: left;
    width: 30%;
    padding-left: 100px;
    text-align: center;
}
#center {
    background-color: #C9C6A4;
    padding: 20px;
    width: 30%;
    padding-left: 65px;
    float: left;
    text-align: center;
}
#right {
    background-color: #C9C6A4;
    padding: 20px;
    float: right;
    width: 30%;
    padding-right:100px;
    text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#archives {
	padding-top: 40px;
}
#readon {
	padding-top: 25px;
}
#booknow {
	padding-top: 20px;
}

#classicpairingintro {
	text-align: center;
	color: #C9C6A4;
	background-color: #691E00;
}

ul li{
	text-align: center;
    float: left;
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 ul {
	font-family: 'Playfair Display', serif;
	list-style:none;
}
li {
	width:20%;
}
li img {
	width:100%;
}
ul {
	clear: bottom;
}
footer {
	clear: left;
	background-color: #cccccc;
	padding: 10px;
	text-align: center;
    width: 100%;
}
#intro {
	background:url(../images/GOT_party_July2017.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color: rgba(255, 255, 255, 0.85);
	font-family: 'Playfair Display', serif;
	font-size:1.5em;
	padding: 10em 0 0 3em;
	height: 90vh;
}
@media only screen and (max-width: 800px) {
        img {
            width: 320px;
    }
        #icon, #booknow, #archives, #readon {
            width: 100px;
}
        #left {
            float: none;
            width: 100;
            font-size: 1em;
            text-align: center;
            width: 100%;
            margin-left: -35px;

        }
        #center {
            float: none;
            width: 100;
            font-size: 1em;
            text-align: center;
            width: 100%;
            margin-left: -20px;

        }
        #right {
            float: none;
            width: 100;
            font-size: 1em;
            text-align: center;
            width: 100%;
            margin-left: 40px;
        }
        #intro {
            font-size: 1.5em
        }
        ul {
            font-size: .75em
        }
        #classicpairingintro {
            font-size: 1em;
        }
          
}
}
@media only screen and (max-width: 375px) {
        img {
            width: 5px;
    }
        #icon, #booknow, #archives, #readon {
            width: 100px;
}
        #left {
            float: none;
            width: 100;
            font-size: .75em;
            text-align: center;
            width: 100%;
            margin-left: -35px;

        }
        #center {
            loat: none;float: none;
            width: 100;
            font-size: .75em;
            text-align: center;
            width: 100%;
            margin-left: -20px;

        }
        #right {
            float: none;
            width: 100;
            font-size: .75em;
            text-align: center;
            width: 100%;
            margin-left: 40px;
        }
        #intro {
            font-size: 1em
        }
        ul {
            float: none;
            font-size: .75em
        }
        #classicpairingintro {
            font-size: .75em;
        }
          
}