
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:'Questrial', serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}

nav {
	font-family: 'Oswald', sans-serif;
}

header {
	font-family:'Old Standard TT', serif;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	color: #ffffff;
	line-height: 1.3;
}
nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
section {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

image {
	width:100px;
}
a {
	color: rgba(0,0,0,.5);
	text-decoration: none;
	font-weight: 25pt;
}

h2 {
	font-family:'Vast Shadow', cursive;
}

#logo {font-family:'Vast Shadow', cursive;

}

#mySlogan {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 25pt;
}

#MyBusinessAddress{
	font-family: 'Playfair Display', serif;
	/* text-align: right; */
}
ul {
	font-family: 'Playfair Display', serif;
	padding-left: 35px;

footer {
	background-color: #cccccc;
	padding: 20px;
	text-align: center;
}
#intro {
	background:url(../images/GOT_party_July2017.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	color: rgba(255, 255, 255, 0.85);
	font-family: 'Playfair Display', serif;
	font-size:1.5em;
	padding: 10em 0 0 3em;
	height: 90vh;
}






