* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica;
	font-size: 20px;
	color: #222222;
	line-height: 1.3
}

header {
	background-color: #D4D0A8;
	padding: 20px;
	color: #ffffff;
}

h1 {
	color:ffffff;
}

a {
	color: #8C8A6F;
	text-decoration: none;
	font-weight: 25pt;
}

#mySlogan {
	font-style: italic;
}

#MyBusinessAddress{
	text-align: right;
}

img {
	width: 100%;
}

main {
	padding: 20px
}

ul {
	padding-left: 35px;
}

footer {
	background-color: #cccccc;
	padding: 20px;
	text-align: center;
}


